@import "tailwindcss";

:root {
  --primary: #393E41;
  --secondary: #F6F7EB;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-eb-garamond: var(--font-eb-garamond);
  --font-be-vietnam-pro: var(--font-be-vietnam-pro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
